.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 
}

.logo{
  width: 30%;
  margin: 20px;
}


@media (max-width: 800px){
  .logo{
    width: 90%;
  }
}

